/* body{
    display:flex;
    justify-content: center;
    align-items: center;
} */
.admin-outer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.adminlogin-container{
    display:flex;
    flex-direction:column;
    gap:5px;
    border:solid 1px;
    padding:3%;
    border-radius:20px;
}
.adminlogin-container > input {
    text-align: center;
    height: 20px;
    border-radius:10px;
}